header{
    
    background: red;
    color: azure;
    text-align: center;
}

body{
    margin: 0;
}

h1{
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainimg{
    display: flex;
    justify-content: center;
}


.mainimg img{
    max-height: auto;
    max-width: 100%;
    
}

.content-container{
    display: flex;
    justify-content: center;
}

.funcontent, .tradcontent{
    border: 3px goldenrod solid;
    margin: 3px;
    padding: 10px;
}