header{ 
    background: red;
    color: azure;
    text-align: center;
}

body{
    margin: 0;
}

h1{
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px;
}

.container{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.mainimg{
    display: flex;
    justify-content: center;
}


.mainimg img{
    max-height: auto;
    max-width: 100%;
    
}

.content-container{
    display: flex;
    flex-wrap: wrap;
}

.content-container h2{
    margin: 10px 0px;
    color: rgb(0, 0, 0);
}

.funcontent, .tradcontent{
    display: flex;
    flex-direction: column;
    border: 3px rgb(249, 217, 60) solid;
    margin: 3px;
    padding: 10px;
    flex-grow: 1;
}

.disclaimer-box{
    border: 5px rgb(250, 29, 29) double;
    text-align: center;
}